@font-face {
    font-family: "Mulish";
    src: url("../assets/fonts/Mulish-VariableFont_wght.ttf") format("truetype"),
         url("../assets/fonts/Mulish-Italic-VariableFont_wght.ttf") format("ttf");
  }
/* @import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */ */

* {
    font-family: 'Mulish';
}


body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

:root {
    --red: #CE0033;
    --black: black;
    --white: white;
}

.redstar{
color: var(--red);
margin: 0 1%;
}

.errormessgage{
    display: none;
    background-color: var(--white);
    color: var(--white);
    margin: 3%;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: auto;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #ce00343f;
}

.errormessgage i{
    margin: 1%;
    color: var(--red);
    float: right;
 }
 
 .errormessgage p{
     color: var(--red);
     text-align: center;
     font-family: 'Mulish', sans-serif;
     padding: 1% 0.1%;
     border-left: 3px solid var(--red);
  }
 

.greenmessage{
    display: none;
    background-color: var(--white);
    margin: 3%;
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: auto;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #00ff40;
}

.greenmessage i{
    color: #00ff40;
    float: right;
 }
 
 .greenmessage p{
     color: #00ff40;
     text-align: center;
     padding: 1% 0.1%;
     border-left: 3px solid #00ff40;
  }



nav {
    background-color: var(--white);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    position: fixed;
    width: 100%;
    top: 0;
}

nav img {
    height: 20px;
    margin: 0% 2%;
}

nav a {
    text-decoration: none;
    margin: 0% 3%;
    font-weight: 600;
    color: var(--red);

}

nav div {
    width: 10%;
}

nav .navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 50%;
}

nav .navigationhidden {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 50%;
}

nav .navigationphone{
    display: none;
}




nav div .barbuton {
    display: block;
    color: var(--red);
}


footer {
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 100%;
    padding: 5% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

   footer  .footer-right{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
  }
  
  footer .footer-right a {
    font-size: 26px;
    color: var(--red);
    transition:all .25s;
    margin: 0 5%;
  }

  /*  Footer links */ 
  footer p{
      text-align: center;
      color: var(--red);
      
  }
  footer div.footer-links {
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  footer div.footer-links a {
    text-decoration: none;
    transition: ease .25s;
    color: #005bd3;
    margin: 0 5%;
  }


  .buttons {
    height: 35px;
    border: none;
    background: var(--red);
    color: var(--white);
    padding: 0;
    width: 95%;
    margin: 0% auto;
    text-align: center;
    height: 4vh;
    border-radius: 5px;
}


.buttons:hover{
   opacity: 0.8;
   cursor:pointer;
}

 a{
    text-decoration: none;
}


@media screen and (min-width: 1200px) {

    .errormessgage{
        width: 30%;
    }

    .greenmessage{
        width: 30%;

    }
    nav {
        background-color: var(--white);
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1%;
        position: fixed;
        width: 100%;
        top: 0;
    }

    nav img {
        height: 30px;
    }

    nav a {
        text-decoration: none;
        font-size: 1vw;
        margin: 0% 5%;
        font-weight: 600;
        color: var(--red);

    }


    nav div .barbuton {
        display: none;
    }

    nav div a {
        display: block;
    }

    nav .navigation {
        display: none;
    }

    nav .navigationphone{
        width: 15%;
        display: flex;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }

   footer p{
        margin: 0 10%;
  
    }

    
   footer  .footer-right{

    width: 20%;
  }


}